/* universal */

html {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url("../images/stacked_circles.png");
    background-repeat: repeat;
}

h1, h2, h3, h4 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

h1 {
    font-size: 1.9rem;
    font-weight: 600;
}

h2 {
    font-size: 1.4rem;
    font-weight: 600;
}

li h2 {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
}

.container {
    clear: both;
    max-width: 1060px;
    margin-left: auto;
    margin-right: auto;
}

li {
    display: inline-block;
}

.box {
    background-color: #fff;
    border: #ddd solid 1px;
}

a:hover {
    text-decoration: underline;
    color: #4aaaa5;
    color: #275c59;
}

a:visited {
    color: #275c59;
}

/* header */

header {
    height: 90px;
    background-color: #fff;
    border-bottom: #ccc solid 2px;
    overflow: hidden;
    margin-bottom: 40px;
}

.logo {
    float: left;
    width: 250px;
    height: 100px;
    color: #fff;
    background-color: #4aaaa5;
    text-align: center;
    padding-top: 30px;
}

nav {
    float: right;
    padding-top: 30px;
}

nav ul li {
    margin-left: 12px;
    color: #A3B0BA;
    font-size: 1.1rem;
}

nav ul li a {
    color: #999;
    text-decoration: none;
}

/* main */

/* section */

#profile-picture {
    float: left;
    padding-right: 27px;
    padding-top: 10px;
}

section {
    width: 688px;
    float: left;
    padding: 40px 30px;
    color: #777;
    margin-bottom: 40px;
}

p {
    display: inline;
    line-height: 2.25;
}

section p::first-line {
    line-height: normal;
}

section h1 {
    color: #4aaaa5;
    padding-bottom: 20px;
}

section hr {
    margin-bottom: 20px;
    border-style: solid; 
    border-color: #ddd; 
    border-width: 3px 0 0 0; 
}

/* contact */

form {
    width: 560px;
}

input, textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    color: #bbb;
    width: 560px;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 30px 20px 0;
}

textarea {
    height: 200px;
}

.contact {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    color: #777;
    font-weight: 100;
}

button {
    height: 40px;
    width: 115px;
    background-color: #4aaaa5;
    color: #fff;
    border: none;
    font-size: 1.1rem;

}

/* portfolio list visual balance */

.floater {
    float: right;
}

/* portfolio */

main ul li a:hover {
    text-decoration: none;
}

li div {
    height: 205px;
    width: 275px;
    margin-top: 20px;
    margin-bottom: 30px;
    overflow: hidden;
}

#hangman {
    background-image: url("../images/hangman.jpg");
}

#rpg {
    background-image: url("../images/rpg.jpg");
}

#trivia {
    background-image: url("../images/trivia.jpg");
}

#giphy {
    background-image: url("../images/giphy.jpg");
}

#train {
    background-image: url("../images/rps.jpg");
}

.piece-title {
    text-align: center;
    height: 40px;
    padding-top: 20px;
    width: 275px;
    margin-top: 135px;
    background-color: #4aaaa5;
}

/* aside */

aside {
    width: 208px;
    float: right;
    padding: 30px;
}

aside h2 {
    color: #4aaaa5;
    padding-bottom: 15px;
}

aside hr {  
    margin-bottom: 25px;
    border-style: solid; 
    border-color: #ddd; 
    border-width: 2px 0 0 0;
}

/* footer */

footer {
    clear: both; 
    height: 60px;
    border-top: #4aaaa5 8px solid;
    background-color: #666;
    text-align: center;
    font-size: .8rem;
    color: #bbb;
    padding-top: 40px;
}


/* responsive */

@media only screen and (max-width: 980px) {

    /* main */
    section {
        width: 358px;
    }

    #profile-picture {
        width: 360px;
        height: 100%;
        margin-bottom: 20px;
    }

    .container {
        max-width: 727px;
    }

    /* portfolio */

    .floater {
        float: none;
    }

    li div {
        height: 267px;
        width: 360px;
        background-size: 100%;
        margin-bottom: 20px;
    }

    .piece-title {
        width: 360px;
        margin-top: 200px;
    }

    /* contact */

    form {
        width: 360px;
    }

    input, textarea {
        width: 340px;
    }

    textarea {
        height: 180px;
    }

}

@media only screen and (max-width: 768px) {
    
     /* main */

    section {
        width: 666px;
        float: none;
    }

    #profile-picture {
        width: 334px;
        margin-bottom: none;
    }

    aside {
        width: 666px;
        float: none;
        margin-bottom: 40px;
    }

        /* portfolio */

    .floater {
        float: right;
    }

    li div {
        height: 232px;
        width: 313px;
    }

    .piece-title {
        width: 313px;
        margin-top: 166px;
    }

    /* contact */

    form {
        width: 660px;
    }

    input, textarea {
        color: #bbb;
        width: 640px;
    }

    textarea {
        height: 180px;
    }


}

@media only screen and (max-width: 640px) {
    /* header fix */
    #phone {
        clear: both;
        max-width: 100%;
        margin-left: none;
        margin-right: none;
    }

    header {
        height: 154px;
        margin-bottom: 20px;
    }

    .logo {
        float: none;
        width: 100%;
        height: 60px;
        color: #fff;
        background-color: #4aaaa5;
        text-align: center;
        padding-top: 30px;
    }

    nav {
        text-align: center;
        float: none;
        padding-top: 25px;
        width: 640px;
        margin-left: -30px;
    }

    nav ul li {
        margin-left: 60px;
        color: #A3B0BA;
        font-size: 1.1rem;
    }

    nav ul li a {
        color: #999;
        text-decoration: none;
    }

    /* main */

    .container {
        max-width: 600px;
    }

    section {
        width: 538px;
    }

    #profile-picture {
        width: 540px;
        margin-bottom: none;
    }

    aside {
        width: 538px;
    }

    /* portfolio */

    .floater {
        float: none;
    }

    li div {
        height: 400px;
        width: 540px;
    }

    .piece-title {
        width: 540px;
        margin-top: 333px;
    }

    /* contact */

    form {
        width: 538px;
    }

    input, textarea {
        color: #bbb;
        width: 518px;
    }

}
